<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="about.css">
<div id="plan" class="mb-4 position-relative">
  <h1 class="text-white display-3 position-absolute top-50 start-50 translate-middle">Project.com</h1>
</div>
<h1 class="text-primary display-6">Project.com nədir?</h1>
<blockquote class="blockquote">
  Sed at vestibulum nisl. Fusce cursus, leo eu euismod fringilla, dui massa tincidunt nunc, quis interdum nisi ex at odio.
   Aliquam id auctor dui, eget mattis tortor. Phasellus in luctus nunc.
    Vivamus tortor diam, vehicula vitae velit vitae, faucibus dignissim ligula.
     Morbi volutpat molestie efficitur. Donec lacinia turpis eget felis rhoncus, et facilisis diam pellentesque.
      Etiam malesuada ante id tortor efficitur hendrerit a vitae dolor. Nam sem augue, placerat vitae est eu, ornare sollicitudin enim.
       Cras augue magna, congue nec dignissim et, sollicitudin sit amet metus. Quisque volutpat nec mauris ac consectetur.
        Pellentesque at est in elit varius mattis vitae vel odio. Aenean tincidunt nibh ante, eget iaculis elit dignissim a.
         Ut tempor nunc eu volutpat malesuada. Suspendisse imperdiet ultricies tortor, at sollicitudin ex dapibus quis.
          Sed eu urna consequat lacus gravida finibus at at dui.
  In ut sodales felis. Nam venenatis, magna at cursus efficitur, ex </blockquote>
<!--<hr class="my-3">-->
<h1 class="text-primary display-6 mb-3">Frequently Asked Questions</h1>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Fusce nisi ante, pharetra id velit quis, mattis luctus lorem. Morbi tristique a ligula eu hendrerit. Phasellus et porta orci.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Fusce nisi ante, pharetra id velit quis, mattis luctus lorem. Morbi tristique a ligula eu hendrerit. Phasellus et porta orci.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Cras sodales, sem non convallis ultrices, felis nisl commodo nibh, vel tempor odio justo quis metus. Nunc euismod lectus vel.
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Cras sodales, sem non convallis ultrices, felis nisl commodo nibh, vel tempor odio justo quis metus. Nunc euismod lectus vel.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Nullam tincidunt felis a neque molestie, eget porttitor neque aliquet. Suspendisse potenti. Nulla quis ultrices est, nec feugiat massa. Duis.
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Nullam tincidunt felis a neque molestie, eget porttitor neque aliquet. Suspendisse potenti. Nulla quis ultrices est, nec feugiat massa. Duis.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            Donec laoreet, lacus ut porta pretium, ligula nunc fringilla felis, eleifend finibus purus lacus eget ex. In placerat condimentum urna.
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Donec laoreet, lacus ut porta pretium, ligula nunc fringilla felis, eleifend finibus purus lacus eget ex. In placerat condimentum urna.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
            Ut bibendum, urna mattis condimentum rhoncus, nisl metus facilisis risus, a feugiat velit velit quis ex. Suspendisse fringilla ultricies orci.
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Ut bibendum, urna mattis condimentum rhoncus, nisl metus facilisis risus, a feugiat velit velit quis ex. Suspendisse fringilla ultricies orci.
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
            In egestas dui quis nulla pulvinar ultricies. Vivamus in lectus.
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            In egestas dui quis nulla pulvinar ultricies. Vivamus in lectus.
          </div>
        </div>
    </div>
</div>
<h1 class="text-primary display-6 mt-3">Contact Us:</h1>
<blockquote class="blockquote">your_email@gmail.com</blockquote>