<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="about.css">
<div id="plan" class="mb-4 position-relative">
  <h1 class="text-white display-3 position-absolute top-50 start-50 translate-middle">Project.com</h1>
</div>
<h1 class="text-primary display-6">Project.com nədir?</h1>
<blockquote class="blockquote">Project.com işəgötürənlər və iş axtaranlar üçün iş elanı saytıdır. Sadə veb dizaynı, sürətli fonksiyonelliği və hər büdcəyə uyğun qiymətlər. 
  Kiçik bir şirkət, mağaza və ya start-up fərq etməz. Hər kəs Project.com saytında iş yerləşdirə bilər. İş mi axtarırsanız? Doğru yerdəsiniz!
  İstədiyiniz işə CV ilə müraciət edə bilərsiniz. Sadəce qeydiyyat, CV yükləmə, e-poçt təsdiqi və hazırsınız!</blockquote>
<!--<hr class="my-3">-->
<h1 class="text-primary display-6 mb-3">Tez-tez soruşulan suallar</h1>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Daha çox vakansiyaya ehtiyacım var/istəyərəm. Necə edə bilərəm?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          İşəgötürən admin səhifəsində <strong>daha çox haqq al</strong> düyməsini görəcəksiniz. Klikləyin və sizi daha çox iş elanı haqqı ala biləcəyiniz bazar səhifəsinə göndərəcək!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Vakansiyaların yerləşdirilməsi nə qədərdir?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          1 vakansiya(30 gün) <strong>15AZN</strong>, 3 vakansiya <strong>30AZN</strong> ve 5 vakansiya <strong>60AZN</strong>. Həmçinin qeydiyyat üçün bir pulsuz vakansiya haqqı əldə edəcəksiniz.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Parolumu unutmuşam
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Parolumu unutdum</strong> düyməsini klikləyin. E-poçt hesabınıza email göndərəcəyik və təsdiqdən sonra parolunuzu dəyişib davam edə bilərsiniz!
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
            İş elanımı görə bilmirəm
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            İş elanlarında xüsusi vaxt məhdudiyyətləri var. Admin səhifənizdə və ya axtarış səhifəsində iş elanlarınızı görə bilmirsinizsə, yəqin ki iş elanı müəyyən vaxtdan sonra silinib.
             Amma müəyyən vaxtdan əvvəl silinibsə, bizimlə əlaqə saxlamalısınız: <strong>project_business@email.com</strong>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
            Admin sehifesinde CV-mi gore bilmirem
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Lütfən yüklədiyiniz faylın pdf faylı olduğuna əmin olun. Deyilsə, admin səhifənizdə profili redaktə et üzərinə klikləməklə cv-nizi redaktə edə bilərsiniz. Pdf isə bizimlə əlaqə saxlamalısınız: <strong>project_business@email.com</strong>
          </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
            Başqa problemim var!
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Bu halda bizimlə əlaqə saxlamalısınız: <strong>project_business@email.com</strong>. Probleminizlə bağlı sizə kömək etməkdən məmnun olarıq!
          </div>
        </div>
    </div>
</div>
<h1 class="text-primary display-6 mt-3">Bizimlə Əlaqə Saxlayın</h1>
<blockquote class="blockquote">project_business@email.com</blockquote>