<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Something went wrong...</h4>
            <p>An error occured. Please contact with us:</p>
            <hr>
            <p class="mb-0"><b>project_business@email.com</b></p>
        </div>
    </div>
</div>