<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 ofsset-3 m-auto">
      <h2 class="display-5 text-primary text-center">Edit Employer</h2>
      <hr class="text-primary">
      <form action="/employer/<%=employer._id%>/edit?_method=PUT" method="post" enctype="multipart/form-data" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" value="<%=employer.email%>" id="email" required>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="location" class="form-control" value="<%=employer.location%>" id="location" required>
        </div>
        <div class="mb-3">
          <label for="company Name" class="form-label">Company Name</label>
          <input type="text" name="compName" class="form-control" value="<%=employer.compName%>" id="company Name" maxlength="50" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="company image">Company Image</label>
          <input type="file" name="compImage" class="form-control" id="company image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>