<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 ofsset-3 m-auto">
      <h2 class="display-5 text-primary text-center">İşaxtaranlar Üçün Qeydiyyat</h2>
      <hr class="text-primary">
      <form action="/employee" method="post" enctype="multipart/form-data" class="validated-form" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Parol</label>
          <input type="password" name="password" class="form-control" id="password" minlength="6" placeholder="Minimum 6 simvol" required>
        </div>
        <div class="mb-3">
          <label for="fullname" class="form-label">Ad ve Soyad</label>
          <input type="text" name="fullname" class="form-control" id="fullname" maxlength="50" required>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Yaş</label>
          <input type="text" name="age" class="form-control" id="age" maxlength="50" required>
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Cins</label>
          <input type="text" name="gender" class="form-control" id="gender" maxlength="50" required>
        </div>
        <div class="mb-3">
          <label class="form-label" for="cv">CV</label>
          <input type="file" name="cv" class="form-control" id="cv" required>
        </div>
        <button type="submit" class="btn btn-primary">Göndər</button>
    </form>
    </div>
</div>
