<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-6 offset-3">
        <form action="/pwchange" method="post" class="validated-form" novalidate>
            <h2 class="text-primary  text-center display-6">Parolunuzu dəyişin</h2>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Yeni Parol</label>
                <input class="form-control" type="password" name="password" id="password" minlength="6" placeholder="Minimum 6 simvol" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <button class="btn btn-primary">E-poçt alın</button>
        </form>
    </div>
</div>
